section {
	border: 1px solid black;
	background-color: #979595;
	font-family: Helvetica;
	text-align: justify;
	color: black;
	margin-bottom: 10px;
}

section>p{
	padding: 5px;
}

#chicken{
	background-color: indianred;
}
#beef{
	background-color: darkslategrey;
	color: white;
}
#sushi{
	background-color: palevioletred;
}
.navbar-default .navbar-nav > li{
	text-align: center;
}